#all {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Calibri;
    right: 0px;
    bottom: 0px;
    background-color: #000;
}

#container {
    position: absolute;
    top: 5px;
    left: 10px;
    right: 10px;
    bottom: 5px;
    text-align: center;
    border: 3px solid #3b4f0b;
}

#header {
    position: absolute;
    top: 5px;
    height: 80px;
    left: 5px;
    right: 5px;
    background: linear-gradient(#e3f5b8, #9da779);
    color: black;
    text-align: center;
}

#nav {
    position: absolute;
    text-align: center;
    color: #000;
    background-color: #808080;
    float: left;
    top: 90px;
    left: 5px;
    bottom: 37px;
    width: 250px;
}

#labelResponse {
    position: absolute;
    text-align: left;
    color: white;
    background-color: red;
    bottom: 190px;
    left: 10px;
    height: 60px;
    width: 342px;
}

#navItem0{
    position: absolute;
    bottom: 160px;
    left: 10px;
    height: 40px;
    width: 230px;
    font-family: Calibri;
    font-size:25px;
}

#navItem1 {
    position: absolute;
    bottom: 120px;
    left: 10px;
    height: 40px;
    width: 230px;
}

#navItem2 {
    position: absolute;
    bottom: 70px;
    left: 10px;
    height: 40px;
    width: 230px;
}

.navItem3 {
    position: absolute;
    bottom: 20px;
    left: 10px;
    height: 40px;
    width: 230px;
}

#exportBtt {
    position: absolute;
    bottom: 20px;
    left: 10px;
    height: 40px;
    width: 230px;
}

#section {
    position: absolute;
    top: 90px;
    left: 260px;
    right: 5px;
    bottom: 37px;
    padding: 10px;
    text-align: center;
    color: #FFF;
    background: #fefefe;
}

#footer {
    position: absolute;
    background: linear-gradient(#e3f5b8, #9da779);
    color: black;
    font-size: 5px;
    bottom: 3px;
    left: 5px;
    right: 5px;
    height: 30px;
    clear: both;
    text-align: center;
    padding: 6px;
}

.link {
    position:relative;
    float: left;
    text-align: center;
    top: 20px;
    padding-left: 20px;
    width: 120px;
    padding-left: 20px;
}

.btn-success {
    height: 38px;
    width: 100px;
    color: #000;
    vertical-align: central;
    font-size: 18px;
    font-family: Calibri;
    border-radius: 0px;
    border-color: #3b4f0b;
    border-width: 1px;
    background: linear-gradient(#e3f5b8, #9da779);
    border-radius: 4px;
}

.btn-default {
    top: 0px;
    height: 35px;
    width: 300px;
    color: #000;
    vertical-align: central;
    font-size: 18px;
    font-family: Calibri;
    text-align: left;
    border-radius: 0px;
    border-color: #3b4f0b;
    border-width: 1px;
}

#imgContainer {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 20%;
    top: 20%;
    background-image: url("../Img/vetalliance_logo_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
}

.all {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #303030;
}

.container {
    position: absolute;
    top: 5px;
    left: 10px;
    bottom: 5px;
    right: 10px;
    background-color: #bfcf9c;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.header {
    position: relative;
    padding: 15px;
    background-color: #bfcf9c;
    color: #000;
    font-family: Calibri;
    font-size: 18px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
}

.section {
    position: absolute;
    top: 50px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #000;
    background: #f0f0f0;
    text-align: center;
    color: #000;
    border-radius: 5px;
}

.fieldSection {
    font-family: Calibri;
    font-size: 16px;
    color: #707070;
    position: absolute;
    top: 10px;
    left: 50%;
    margin:0 0 0 -500px;
    height: 555px;
    width: 1000px;
    border: solid 1px #d0d0d0;
    border-radius: 5px;
}

.menuBtt{
    border: 0px;
    background: #FFF;
    padding-left: 20px;
    text-align: left;
    width: 200px;
}

.menuBtt:hover{
    background: #EEE;
}

.a:hover{
    background: #EEE;
}