#all{
            position:absolute;
            top: 0px;
            left: 0px;
            font-family: Calibri;
            right: 0px;
            bottom: 0px;
            background-color: #000;
        }
        #container {
            position: absolute;
            top: 1%;
            left: 6%;
            right: 17%;
            width: 1200px;
            height: 635px;
            text-align: center;
            border: 3px solid #729f67;
        }
        #header {
            position: relative;
            height: 80px;
            background-color: #606060;
            color: white;
            text-align: center;
            padding: 17px;
            padding-left: 17px;
        }

        #nav {
            line-height: 50px;
            text-align: left;
            color: #fff;
            background-color: #808080;
            height: 519px;
            width: 200px;
            float: left;
            padding: 10px;
        }

        #section {
            float: left;
            padding: 10px;
            text-align: center;
            color: #FFF;
            background-image: url("../Img/logo.jpg");
            width: 994px;
            height: 519px;
        }

        #footer {
            background-color: #606060;
            color: white;
            height: 30px;
            clear: both;
            text-align: center;
            padding: 5px;
        }

        #link1 {
            float: left;
            text-align: center;
            display: table-cell;
            padding: 2px 5px;
        }

        #link2 {
            float: left;
            text-align: center;
            display: table-cell;
            padding: 2px 5px;
        }

        #link3 {
            float: left;
            text-align: center;
            display: table-cell;
            padding: 2px 5px;
        }

        .btn-success {
            height: 40px;
            width: 100px;
            color: #FFF;
            font-size: 18px;
            font-family: Calibri;
            border-radius: 0;
            border-color: #3b4f0b;
            border-width: 2px;   
                     
        }


